<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Jeu</h1>
            <p>{{game.name}}</p>
            <p>{{game.description}}</p>
            <p><a href="/editor/{{game.editorId}}">{{game.editor.name}}</a></p>
            <p><a href="/type/{{game.typeId}}">{{game.type.name}}</a></p>
            <button type="submit" onclick="window.location.href='/game/delete/{{game.id}}'">Delete</button>

    </body>
</html>